{{one-way-input
  value
  update=(action (mut value))
  keyEvents=(hash
    13=(action 'onEnter')
  )
}}

<ul>
{{#each books as |book|}}
  <li>{{ book.title }} <button {{action removeBook book}}>Remove</button></li>
{{/each}}
</ul>
